@import "../mixins/media";

footer {
  margin-top: auto;
}

.footer-content {
  padding: 20px 14px;
  font-size: 14px;
  text-align: center;
}

@include media-mobile {
  .footer-content {
    padding: 24px 16px;
    font-size: 16px;
  }
}

@include media-tablet {
  .footer-content {
    padding: 26px 18px;
    font-size: 18px;
  }
}

@include media-tablet-horizontal {
  .footer-content {
    padding: 30px 22px;
    font-size: 22px;
  }
}

@include media-desktop {
  .footer-content {
    padding: 34px 24px;
    font-size: 24px;
  }
}
