@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";
@import "../../../node_modules/normalize.css/normalize";
@import "../mixins/media";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding-top: $heightHeaderSize;
  color: $black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  text-rendering: optimizeSpeed;
}

.global-bg {
  background: #f8f9fc;
}

.content {
  margin: 0 $sideFieldsSize;
}

@include media-mobile {
  body {
    padding-top: $heightHeaderMobile;
  }

  .content {
    margin: 0 $sideFieldsMobile;
  }
}

@include media-tablet {
  body {
    padding-top: $heightHeaderTablet;
  }

  .content {
    margin: 0 $sideFieldsTablet;
  }
}

@include media-tablet-horizontal {
  body {
    padding-top: $heightHeaderTabletHorizontal;
  }

  .content {
    margin: 0 $sideFieldsTabletHorizontal;
  }
}

@include media-desktop {
  body {
    padding-top: $heightHeaderDesktop;
  }

  .content {
    max-width: $maxWidthContent;
    margin: 0 $sideFieldsDesktop;
  }
}
