@import "../mixins/media";

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  animation: show-header 1s;
  background: $white;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $heightHeaderSize;
}

.header-logo {
  height: 65%;
  cursor: pointer;
}

.header-logo img {
  width: auto;
  height: 100%;
}

.buttons-menu {
  display: flex;
  position: relative;
}

.btn-menu {
  width: $profileLogoSize;
  height: $profileLogoSize;
  margin-left: 15px;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-size: $profileLogoSize / 2;
  cursor: pointer;
}

.notification-icon {
  color: $gray;
}

.notification-icon:hover {
  color: darken($gray, 20%);
}

.profile-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $orange;
  color: $white;
  font-weight: 500;
}

.profile-logo:hover {
  background-color: darken($orange, 10%);
}

.profile-logo-checkbox {
  display: none;
}

.profile-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 10px;
  padding: 10px 30px;
  background-color: $white;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.profile-logo-checkbox:checked ~ .profile-menu {
  display: block;
}

.profile-logo-checkbox:checked ~ .profile-logo {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(255, 255, 255, 1);
}

.profile-name {
  padding: 10px 40px 10px 20px;
  border-bottom: 2px $gray solid;
  color: $gray;
  font-size: 18px;
  white-space: nowrap;
}

.profile-avatar {
  width: 22px;
  margin-right: 15px;
  margin-bottom: -5px;
  border-radius: 50%;
}

.profile-menu-items {
  margin: 0;
  padding: 10px 0;
  list-style: none;
}

.profile-menu-item a {
  display: block;
  padding: 10px;
  color: $black;
  font-size: 20px;
}

.profile-menu-item a:hover {
  background-color: lighten($gray, 15%);
}

.icon-link::before {
  display: inline-block;
  width: 25px;
  margin-right: 20px;
  color: $gray;
  font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
  font-size: 20px;
  font-weight: 900;
}

.icon-profile::before {
  content: '\f007';
}

.icon-message::before {
  content: '\f0e0';
}

.icon-logout::before {
  content: '\f2f5';
}

@keyframes show-header {
  0% {
    margin-top: -$heightHeaderDesktop;
  }

  100% {
    margin-top: 0;
  }
}

@include media-mobile {
  .header-content {
    height: $heightHeaderMobile;
  }

  .btn-menu {
    width: $profileLogoMobile;
    height: $profileLogoMobile;
    font-size: $profileLogoMobile / 2;
  }
}

@include media-tablet {
  .header-content {
    height: $heightHeaderTablet;
  }

  .btn-menu {
    width: $profileLogoTablet;
    height: $profileLogoTablet;
    font-size: $profileLogoTablet / 2;
  }
}

@include media-tablet-horizontal {
  .header-content {
    height: $heightHeaderTabletHorizontal;
  }

  .btn-menu {
    width: $profileLogoTabletHorizontal;
    height: $profileLogoTabletHorizontal;
    font-size: $profileLogoTabletHorizontal / 2;
  }
}

@include media-desktop {
  .header-content {
    height: $heightHeaderDesktop;
  }

  .btn-menu {
    width: $profileLogoDesktop;
    height: $profileLogoDesktop;
    font-size: $profileLogoDesktop / 2;
  }
}
