@import "../mixins/media";

.main {
  padding: $heightHeaderSize 0;
}

.main-content {
  display: grid;
  grid-template-areas:
    "academy js  "
    "qa      js  "
    "java    menu"
    "net     menu"
    "net     php ";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: calc((100vw - 2 * #{$sideFieldsSize}) * 2);
}

.card-academy {
  grid-area: academy;
}

.card-qa {
  grid-area: qa;
}

.card-js {
  grid-area: js;
}

.card-java {
  grid-area: java;
}

.card-php {
  grid-area: php;
}

.card-net {
  grid-area: net;
}

.card-menu {
  display: grid;
  grid-area: menu;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 1fr;
}

@include media-mobile {
  .main {
    padding: $heightHeaderMobile 0;
  }

  .main-content {
    grid-template-areas:
      "academy js  menu"
      "qa      js  menu"
      "qa      net net "
      "php     php java";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: calc((100vw - 2 * #{$sideFieldsMobile}) * 1.3);
  }
}

@include media-tablet {
  .main {
    padding: $heightHeaderTablet 0;
  }

  .main-content {
    grid-template-areas:
      "academy js   js  menu"
      "java    java php php "
      "qa      qa   net net ";
    grid-template-columns: 8fr 1fr 5fr 4fr;
    grid-template-rows: 2fr 1fr 1fr;
    height: calc((100vw - 2 * #{$sideFieldsTablet}) / 1.125);
  }
}

@include media-tablet-horizontal {
  .main {
    padding: $heightHeaderTabletHorizontal 0;
  }

  .main-content {
    grid-template-areas:
      "academy js   php php "
      "academy js   net menu"
      "qa      js   net menu"
      "qa      java net menu";
    grid-template-columns: 4fr 4fr 5fr 3fr;
    grid-template-rows: 3fr 1fr 2fr 2fr;
    height: calc((100vw - 2 * #{$sideFieldsTabletHorizontal}) / 2);
  }
}

@include media-desktop {
  .main {
    padding: $heightHeaderDesktop 0;
  }

  .main-content {
    height: $maxWidthContent / 2;
  }
}
