@import "../mixins/media";

.card-flip {
  perspective: 1000px;
}

.card-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.7s;
}

.card-slide .card-wrap {
  overflow: hidden;
}

.card-flip:hover .card-wrap {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: all 0.7s;
  color: $white;
}

.card-back {
  padding: 10px;
  overflow: auto;
  background-color: $white;
}

.card-flip .card-front,
.card-flip .card-back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-slide .card-front {
  z-index: 2;
}

.card-flip .card-back {
  transform: rotateY(180deg);
}

.button-join {
  margin: 0;
  padding: 10px 35px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: $lightBlue;
  color: $white;
  font-size: 17px;
  cursor: pointer;
}

.button-join:hover {
  background-color: $blue;
}

.card-academy .card-front {
  padding: 20%;
  background-color: $white;
}

.card-academy .card-back {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-qa .card-front {
  background-color: $green;
  font-size: 50px;
}

.card-qa:hover .card-wrap {
  transform: rotateY(-180deg);
}

.card-qa .card-back {
  transform: rotateY(-180deg);
}

.card-js .card-front {
  align-items: flex-end;
  justify-content: flex-end;
  background-color: $yellow;
  color: $black;
  font-size: 80px;
  font-weight: 500;
  line-height: 80px;
}

.card-js:hover .card-wrap {
  transform: rotateX(180deg);
}

.card-js .card-back {
  transform: rotateX(180deg);
}

.card-java .card-front {
  background-color: $red;
  font-size: 30px;
}

.card-java:hover .card-front {
  top: 100%;
}

.card-php .card-front {
  background-color: $grayBlue;
  color: $black;
  font-size: 50px;
  font-style: italic;
}

.card-php:hover .card-front {
  top: -100%;
  left: 100%;
}

.card-net .card-front {
  background-color: $purple;
  font-size: 50px;
}

.card-net:hover .card-front {
  top: 100%;
  left: 100%;
}

.card-qa .card-back,
.card-js .card-back,
.card-java .card-back,
.card-php .card-back,
.card-net .card-back {
  font-size: 14px;
  font-weight: bold;
}

.card-events .card-front {
  background-color: $lightBlue;
  font-size: 17px;
}

.card-blog .card-front {
  background-color: $blue;
  font-size: 17px;
}

.card-contacts .card-front {
  background-color: $darkBlue;
  font-size: 17px;
}

.card-events .card-back,
.card-blog .card-back,
.card-contacts .card-back {
  font-size: 12px;
  font-weight: normal;
}

.card-contacts .card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.card-contacts-link {
  margin: 0 5px;
  color: $black;
  font-size: 30px;
}

.card-contacts-link:hover {
  color: $lightBlue;
}

.card-events:hover .card-front,
.card-blog:hover .card-front,
.card-contacts:hover .card-front {
  left: 100%;
}

@include media-mobile {
  .card-qa .card-front {
    font-size: 70px;
  }

  .card-js .card-front {
    font-size: 100px;
    line-height: 100px;
  }

  .card-java .card-front {
    font-size: 40px;
  }

  .card-php .card-front {
    font-size: 70px;
  }

  .card-net .card-front {
    font-size: 70px;
  }

  .card-back {
    padding: 15px;
  }

  .card-qa .card-back,
  .card-js .card-back,
  .card-java .card-back,
  .card-php .card-back,
  .card-net .card-back {
    font-size: 16px;
  }

  .card-events .card-back,
  .card-blog .card-back,
  .card-contacts .card-back {
    font-size: 14px;
  }
}

@include media-tablet {
  .card-qa .card-front {
    font-size: 90px;
  }

  .card-js .card-front {
    font-size: 120px;
    line-height: 120px;
  }

  .card-java .card-front {
    font-size: 50px;
  }

  .card-php .card-front {
    font-size: 90px;
  }

  .card-net .card-front {
    font-size: 90px;
  }

  .card-back {
    padding: 20px;
  }

  .card-qa .card-back,
  .card-js .card-back,
  .card-java .card-back,
  .card-php .card-back,
  .card-net .card-back {
    font-size: 18px;
  }

  .card-events .card-back,
  .card-blog .card-back,
  .card-contacts .card-back {
    font-size: 15px;
  }
}
