@import "../utils/variables";

.notifications {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  flex-direction: column;
  margin: 10px;
  transition: all 0.3s;
}

.notification {
  position: relative;
  width: 200px;
  margin: 5px;
  padding: 15px 15px 15px 50px;
  animation: show-notification 1s;
  border-radius: 3px;
  opacity: 0.8;
  color: $white;
  font-size: 15px;
}

.notification::after {
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
  font-size: 20px;
  font-weight: 900;
}

.notification-error {
  background-color: $red;
}

.notification-error::after {
  content: '\f06a';
}

.notification-warning {
  background-color: $orange;
}

.notification-warning::after {
  content: '\f071';
}

.notification-info {
  background-color: $lightBlue;
}

.notification-info::after {
  content: '\f05a';
}

.notification-success {
  background-color: $green;
}

.notification-success::after {
  content: '\f058';
}

.notification-title {
  font-weight: bold;
}

.notifications-message {
  line-height: 1.1;
}

@keyframes show-notification {
  0% {
    left: 150%;
  }

  100% {
    left: 0;
  }
}
