// Mobile first
$mediaWidthMobile: 480px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthDesktop: 1440px;

// Max width content
$maxWidthContent: 1200px;

// Side fields
$sideFieldsSize: 20px;
$sideFieldsMobile: 35px;
$sideFieldsTablet: 70px;
$sideFieldsTabletHorizontal: 100px;
$sideFieldsDesktop: auto;

// Height header
$heightHeaderSize: 46px;
$heightHeaderMobile: 50px;
$heightHeaderTablet: 56px;
$heightHeaderTabletHorizontal: 80px;
$heightHeaderDesktop: 100px;

// Size profile logo
$profileLogoSize: 30px;
$profileLogoMobile: 32px;
$profileLogoTablet: 36px;
$profileLogoTabletHorizontal: 46px;
$profileLogoDesktop: 60px;

// Colors
$black: #000;
$white: #fff;
$gray: #b0b0b5;   // Matches logo Binary Studio
$orange: #f7991c; // Matches logo Binary Studio
$green: #52bf78;
$yellow: #f7cf69;
$red: #e12b4c;
$purple: #642077;
$grayBlue: #8892bf;
$blue: #0443a3;
$lightBlue: #2d99ff;
$darkBlue: #00265f;
