@import "../utils/variables";

@mixin media-mobile {
  @media (min-width: $mediaWidthMobile) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: $mediaWidthTablet) {
    @content;
  }
}

@mixin media-tablet-horizontal {
  @media (min-width: $mediaWidthTabletHorizontal) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: $mediaWidthDesktop) {
    @content;
  }
}

@mixin media-custom($width) {
  @media (min-width: $width) {
    @content;
  }
}
